#                                                    Python Assignment = 1

## 1.a) variables in python                                                       
variables are the location or a name, that can able to store a data interms of int, float, string etc                                                          
ex: name="prashanthcn"

## 1.b) difference btw variable and constant                                      
variables are the location or a name, that can able to store a data interms of int, float, string etc...                                                         
constant are the fixed value we can not alter that. there is no constant in python.

## *`2`* .a)  &  b)  Datatypes

In [ ]:
x=25
type(x)

int

In [ ]:
y=55.5
type(y)

float

In [ ]:
name="prashanth"
type(name)

str

In [ ]:
a=20
b=a>5
type(b)

bool

## 3. a) Arithmatic operation

In [ ]:
#1.addition
a=15
b=25
result=a+b
print(result)

40

In [ ]:
# 2.substraction
a=25
b=5
result=a-b
print(result)

20

In [ ]:
# 3.multiplication
a=10
b=5
result=a*b
print(result)

50

In [ ]:
# 4.division
a=10
b=5
result=a/b
print(result)

2.0

In [ ]:
# 5.modulud
a=10
b=3
result=a%b
print(result)

1

In [ ]:
# 6.exponentation
a=2
b=3
result=a**b
print(result)

8

In [ ]:
# 7.floor division
a=10
b=3
result=a//b
print(result)

3

## 3.b)Area of rectangle

In [ ]:
l=10
w=30
area=l*w
print(area)

300

## 4.a)Comparision and logical operation

In [ ]:
#  1.equal
a=5
b=5
a==5

True

In [ ]:
#  2.not equal
a=5
b=5
a!=5

False

In [ ]:
#  3.greater than
a=5
b=3
a>b

True

In [ ]:
#  4.lesser than
a=5
b=3
a<b

False

In [ ]:
#  5.greater than or equal
a=5
b=3
a>=b

True

In [ ]:
#  6.less than or equal
a=10
b=30
a<=b

True

## 4.b) Using logical operator write a python script that check if a number is positive and even

In [ ]:
num=int(input("enter a number"))
if num>0 and num%2==0:
    print("the number is positive and even")
else :
    print("the number is not positive and even")

enter a number43
the number is not positive and even

## 5. a) Type casting                                                              
Converting one type of data into anther type                                    
Implicit: Automatically it convert one type into another type of data           
ex: a=10   b=5.5
    
 r=a+b                                  


Explicit: Manually we convert the data type of a variable                       
ex: a="1000"          
r=int(a)

## 5)b.Python script for

In [29]:
# 1.convert float to an int
x=75.55
y=int(x)
print(y)
type(y)

75

int

In [30]:
# 1.convert int to an str
x=2000
b=str(a)
print(b)
type(b)

10

str

In [32]:
# 1.convert str to an float
a="233.2"
b=float(a)
print(b)
type(b)

233.2

float

## 6) Write a python script for..

In [36]:
# 1.adding two num
x=35
y=10
result=x+y
print(result)

45

In [37]:
# 2.sub
x=35
y=10
result=x-y
print(result)

25

In [38]:
# 3.multiply two num
x=35
y=5
result=x*y
print(result)

175

In [39]:
# 4.division
x=35
y=5
result=x/y
print(result)

7.0

In [40]:
# 5.convert the sum of the num to a str and print the type of result
a=1000
b=2000
result=a+b
str(result)
type(str(result))

str